:root {
  --brand-primary: oklch(0.5236 0.288 302.321);
  --brand-secondary: oklch(0.78 0.016 308.19);
  --color-white: white;
  --color-grey-50: #8a8a8a;
  --color-grey: oklch(37.3% 0.034 259.733);
  --color-black: #1a1a1a;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--color-white);
  color: var(--color-black);
  font-family:
    Inter, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, Sans-Serif;
}

main {
  width: 50%;
  margin: 6rem auto;
}

header {
  margin-bottom: 4rem;
  font-size: 1rem;
}

header h1 {
  font-size: 4em;
  text-align: center;
  color: var(--brand-secondary);
  line-height: 1em;
}

header h1 em {
  color: var(--brand-primary);
}

header p {
  font-size: 1.6em;
  line-height: 1.4em;
  color: var(--color-grey);
  text-align: center;
}

header p br {
  display: none;
}

section h2 {
  margin: 2.6rem 0 0.6rem;
  font-weight: 600;
  color: var(--color-black);
}

section p,
section ul {
  font-size: 1.1rem;
  color: var(--color-grey);
  line-height: 1.6rem;
}

section ul li {
  margin-bottom: 0.4rem;
}

section strong {
  font-weight: 600;
}

#action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

footer {
  margin-top: 2.6rem;
  padding-top: 1rem;
  border-top: 1px solid var(--brand-secondary);
  text-align: center;
  color: var(--brand-secondary);
  vertical-align: middle;
  line-height: 1.4rem;
}

footer p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 0.4rem;
}

footer a {
  color: inherit;
}

footer a:hover,
footer a:focus-within {
  color: var(--brand-primary);
}

.eu {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.text-center {
  text-align: center;
}

.my-5 {
  margin: 3rem 0;
}

.gap-2 {
  gap: 1rem;
}

.button {
  display: inline-block;
  margin: 0;
  padding: 0.4rem 0.8rem;
  background: var(--color-grey-50);
  color: var(--color-white);
  border-radius: 0.6rem;
  font-size: 1.1875rem;
  line-height: 2rem;
  cursor: pointer;
  text-align: center;
  outline: none;
  text-decoration: none;
  border: none;
}

.button:hover,
.button:focus-within {
  background-color: var(--brand-primary);
  color: var(--color-white);
}

.button.primary {
  background: var(--brand-primary);
  color: var(--color-white);
}
.button.primary:hover,
.button.primary:focus-within {
  background: var(--color-black);
  color: var(--color-white);
}
.button.disabled {
  background: var(--color-grey-50) !important;
  color: var(--color-white) !important;
  cursor: default;
}

.handle-input {
  display: flex;
  border: 1px solid var(--color-grey-50);
  background: var(--color-white);
  color: var(--color-black);
  border-radius: 0.6rem;
  margin-bottom: 1rem;
}
.handle-input > span {
  color: var(--brand-primary);
  font-weight: 500;
  padding: 0.6rem;
}
.handle-input:focus-within {
  outline: 2px solid var(--brand-primary);
}
.handle-input input {
  border: none;
  background: none;
  display: inline-flex;
  flex-grow: 1;
  padding: 0.6rem;
  padding-left: 0;
}
.handle-input input:focus-within {
  outline: none;
}

dialog {
  border: 1px solid var(--color-grey-50);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  border-radius: 0.6rem;
  outline: none;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.3);
}

dialog#notification {
  cursor: default;
  position: fixed;
  top: 2rem;
  right: 2rem;
  background: var(--brand-primary);
  color: var(--color-white);
  border: var(--color-grey);
  border-radius: 0.6rem;
  margin: 0 0 0 auto;
  outline: 1px solid var(--color-white);
}

dialog#request-invite-modal label {
  font-weight: 600;
}

dialog#request-invite-modal p {
  color: var(--color-grey-50);
}
dialog#request-invite-modal form {
  display: flex;
  flex-direction: column;
}
dialog#request-invite-modal button[type="submit"] {
  flex-grow: 0;
  align-self: flex-end;
}

@media screen and (max-width: 834px) {
  html {
    font-size: 100%;
  }

  main {
    width: 100%;
    margin: 3rem 0;
    padding: 0 2rem;
  }

  header {
    font-size: 0.7rem;
  }

  header p {
    font-size: 1.8em;
  }

  header p br {
    display: inline-block;
  }

  section {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 600px) {
  main {
    width: 100%;
    padding: 0 0.4rem;
  }
}
