* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  font-weight: normal;
  font-size: 1.25rem;
}

textarea,
input {
  font-family: inherit;
}

button {
  color: white;
  background: purple;
  border: none;
  border-radius: 6px;
  padding: 6px 8px;
  font-family: inherit;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

dialog {
  margin: auto;
  max-width: calc(100% - 2em);
  max-height: calc(100% - 2em);
  min-width: 600px;
  min-height: 450px;
  top: 50%;
  margin-top: calc(-450px / 2);

  border: solid #666 1px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

dialog .dialog-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
  background: #eee;
  border-bottom: 1px solid #ccc;
}

dialog .dialog-body {
  padding: 16px;
  overflow-y: auto;
}

#app {
  max-height: 100dvh;
  height: 100%;
}

#wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 1170px;
  margin: 0 auto;
  padding: 3rem;
  min-height: 100dvh;
  gap: 2rem;
}

#wrapper aside {
  position: relative;
  max-height: 100dvh;
}

#wrapper aside nav {
  position: fixed;
  overflow-y: auto;
  height: 100%;
  width: 280px;
}

#wrapper > aside nav h1 {
  margin-bottom: 1rem;
  text-align: center;
  font-style: italic;
  color: #bbb;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.17, 0.73, 0.14, 1);
  transition-duration: 100ms;
}

#wrapper > aside nav h1:hover {
  color: #aaa;
}

#wrapper > aside nav .account {
  margin-bottom: 1rem;
}

#wrapper > aside nav ul {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

#wrapper > aside nav ul li form {
  display: flex;
}

#wrapper > aside nav ul li button {
  background: none;
  border: none;
  font-family: inherit;
  flex-grow: 1;
  cursor: pointer;
}

#wrapper > aside nav ul li a,
#wrapper > aside nav ul li button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  gap: 8px;
  outline-offset: -1px;
  font-size: 18.8px;
  letter-spacing: 0px;
  color: purple;
  font-weight: 400;
  line-height: 18.8px;
  text-decoration: none;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.17, 0.73, 0.14, 1);
  transition-duration: 100ms;
}

#wrapper > aside nav ul li a.active {
  font-weight: 600;
}

#wrapper > aside nav ul li a:hover,
#wrapper > aside nav ul li button:hover {
  background: rgba(0, 0, 0, 0.08);
}

#wrapper main {
  max-height: 100dvh;
}

.profile-header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: stretch;
  border-bottom: 1px solid #ccc;
}

.profile-header nav ul li a {
  position: relative;
  display: flex;
  padding-left: 14px;
  padding-right: 14px;
  text-decoration: none;
}

.profile-header nav ul li a .tab {
  position: relative;
  display: inline-flex;
  flex-grow: 1;
  padding: 8px 6px;
  text-decoration: none;
  text-align: center;
}

.profile-header nav ul li a.active .tab span {
  background-color: purple;
  transform: translateX(-50%);
  min-width: 45px;
  left: 50%;
  height: 3px;
  width: 100%;
  pointer-events: auto;
  position: absolute;
  bottom: 0px;
  display: inline-flex;
}

.profile-header nav ul li a:hover {
  background: rgba(0, 0, 0, 0.08);
}

.profile-overview {
  display: flex;
  flex-direction: row;
}

.profile-overview .profile-details {
  flex-grow: 1;
}

.profile-overview .profile-edit {
  display: block;
}

.profile-details {
  margin: 1rem 14px;
}

.profile-details p {
  color: #666;
}

.profile-description {
  margin: 0 14px 1.5rem;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  overflow: clip;
}

.profile-content {
  padding: 14px;
}

[class^='notification'] {
  padding: 4px 8px;
  background: grey;
}

.notification-error {
  background: lightcoral;
}

.ask-form {
  margin: 1rem 0;
}

.ask-form textarea {
  padding: 12px 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.ask-form .ask-form-title {
  position: relative;
  display: flex;
}

.ask-form .ask-form-title input {
  display: flex;
  flex-grow: 1;
  font-size: 1.2rem;
  border: none;
  padding: 12px 16px 12px 32px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.ask-form .ask-form-title button[type='reset'] {
  position: absolute;
  left: 6px;
  top: 0;
  bottom: 0;
  background: none;
  color: #aaa;
  padding: 4px;
  font-size: 1.2rem;
}

.ask-form button {
  color: white;
  background: purple;
  border: none;
  border-radius: 6px;
  padding: 12px 16px;
  font-family: inherit;
}
